/*Import local fonts*/
@font-face {
  font-family: "Gotham-bold";
  src: url("../fonts/Gotham-Font/GothamBold.ttf") format("truetype");
}

@font-face {
  font-family: "AkkuratPro-bold";
  src: url("../fonts/AkkuratPro/AkkBd_Pro_1.otf") format("truetype");
}
@font-face {
  font-family: "AkkuratPro-reg";
  src: url("../fonts/AkkuratPro/AkkBd_Pro_1.otf") format("truetype");
}

:root {
  --header-font: "Gotham-bold", sans-serif;
  --body-font: "AkkuratPro-reg", sans-serif;
  --bold-body-font: "AkkuratPro-bold", sans-serif;
}
body,
html {
  height: 100%;
}
body {
  font-family: var(--body-font);
  font-weight: 400;
  color: #111;
  line-height: 1;
}
main {
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font);
  text-transform: uppercase;
}

/*footer styling*/
footer {
  background-color: black;
  padding: 1rem;
  /*outline: 3px solid red;*/
  min-height: 100;
}

.h4-footer {
  text-align: right;
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin: 0px 7rem 0px 0px;
}

.footer-ul {
  list-style: none;
  text-align: right;
  font-size: 1.125rem;
  line-height: 1.75rem;
  text-decoration: underline;
  margin: 0;
  vertical-align: auto;
  margin-right: 2rem;
}
.footer-links,
.museum,
.channel,
.webshop {
  color: white;
}

.museum:hover,
.channel:hover,
.webshop:hover {
  color: beige;
}
.search-bar {
  margin-bottom: 10px;
  border: none;
}
input {
  color: white;
  background-color: black;
  width: 12%;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  border-color: white;
}
input[type="text" i] {
  padding-right: 0%;
}
.enter:focus {
  outline: none;
}
.search-btn {
  background-color: black;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  border-color: white;
}
i.fa.fa-search {
  background-color: black;
  color: white;
}
