/*Import local fonts*/
@font-face {
  font-family: "Gotham-bold";
  src: url("../fonts/Gotham-Font/GothamBold.ttf") format("truetype");
}

@font-face {
  font-family: "AkkuratPro-bold";
  src: url("../fonts/AkkuratPro/AkkBd_Pro_1.otf") format("truetype");
}
@font-face {
  font-family: "AkkuratPro-reg";
  src: url("../fonts/AkkuratPro/AkkBd_Pro_1.otf") format("truetype");
}

:root {
  --header-font: "Gotham-bold", sans-serif;
  --body-font: "AkkuratPro-reg", sans-serif;
  --bold-body-font: "AkkuratPro-bold", sans-serif;
}
.header-nav {
  display: flex;
  justify-content: space-between;
}
.menu-btn {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.menu-burger {
  width: 4px;
  height: 40px;
  background-color: black;
  border-radius: 3px;
  transition: all 0.5s ease-in-out;
}
.menu-burger::before,
.menu-burger::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 40px;
  background-color: black;
  border-radius: 3px;
  transition: all 0.5s ease-in-out;
}

.menu-burger::before {
  transform: translateX(-16px);
}
.menu-burger::after {
  transform: translateX(16px);
}
.menu-btn.open .menu-burger {
  transform: translateY(50px);
  background: transparent;
}
.menu-btn.open .menu-burger::before {
  transform: rotate(45deg) translate(-35px, -35px);
}
.menu-btn.open .menu-burger::after {
  transform: rotate(-45deg) translate(35px, -35px);
}
#side-nav {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 80%;
}
.dropdown {
  position: relative;
  margin-top: 15%;
}
.drop-list {
  list-style: none;
  text-align: center;
  position: relative;
  line-height: 1.75rem;
}
.drop-list li {
  display: inline;
  padding: 1rem;
  font-size: 30px;
}
.drop-list li a {
  color: white;
  padding: 0.5rem;
  text-decoration: none;
}
.drop-list li a:hover {
  background-color: rgb(57, 59, 57);
}
.search-bar-nav {
  margin-left: 32.5%;
  padding: 2rem;
}
body,
html {
  height: 100%;
}
body {
  font-family: var(--body-font);
  font-weight: 400;
  color: #111;
  line-height: 1;
  margin: 0;
  padding: 0;
}
main {
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font);
  text-transform: uppercase;
}

/*footer styling*/
footer {
  background-color: black;
  padding: 1rem;
  /*outline: 3px solid red;*/
  min-height: 100;
  display: grid;
  grid-template-columns: 50% 50%;
}
.footer-links {
  min-width: 100px;
}
.h4-footer {
  text-align: right;
  font-size: 25px;
  line-height: 1.75rem;
  margin: 0px 9rem 0px 0px;
}

.footer-ul {
  list-style: none;
  text-align: right;
  font-size: 25px;
  line-height: 3rem;
  text-decoration: underline;
  margin: 0;
  vertical-align: auto;
  margin-right: 2rem;
}
.footer-links,
.museum,
.channel,
.webshop {
  color: white;
  margin-top: 10px;
}

.channel {
  margin-right: 5px;
}
.museum:hover,
.channel:hover,
.webshop:hover {
  color: beige;
}
.search-bar {
  margin-bottom: 10px;
  margin-top: 135px;
  border: none;
}
input {
  color: white;
  background-color: black;
  width: 50%;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  border-color: white;
  font-size: 30px;
}
input[type="text" i] {
  padding-right: 0%;
}
.enter:focus {
  outline: none;
}
.search-btn {
  background-color: black;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  border-color: white;
}
i.fa.fa-search {
  background-color: black;
  color: white;
}
.search-btn,
i.fa.fa-search {
  font-size: 30px;
}
@media (max-width: 640px) {
  .h4-footer,
  .footer-ul {
    font-size: 10px;
    line-height: 2rem;
  }
  .h4-footer {
    margin-right: 8em;
  }
  input {
    display: none;
  }
  .search-bar {
    margin-top: 110px;
  }
  .search-btn,
  i.fa.fa-search {
    font-size: 15px;
  }
}

@media (max-width: 400px) {
  .h4-footer,
  .footer-ul {
    font-size: 7px;
    line-height: 1rem;
  }
}
@media (max-width: 400px) {
  .h4-footer {
    margin-right: 9em;
  }
  .search-bar {
    margin-top: 50px;
  }
  .search-btn,
  i.fa.fa-search {
    font-size: 10px;
  }
}
/* Header */

/* Main Grid */

.artistoftheday {
  width: 100vw;
  height: 90vh;
  max-width: 100%;
  background: lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.artistoftheday h1 {
  font-size: 5vw;
}

.artistoftheday h2 {
  font-size: 3vw;
  margin-top: -3vw;
  margin-left: 42vw;
}

main p {
  line-height: 2vw;
  font-size: 1.5vw;
}

.text1 {
  margin: 3vw;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 3vw 3vw 3vw 3vw;
  row-gap: 4vw;
}

.box {
  width: 45vw;
  height: 30vw;
  background: lightgrey;
}

#box2,
#textbox1 {
  justify-self: flex-end;
}

.textbox {
  display: flex;
  align-content: flex-end;
  width: 45vw;
}

.textbox p {
  align-self: flex-end;
  margin-bottom: 0;
}

.bigimage {
  margin-top: 5vw;
  min-height: 80vh;
  height: 100%;
  max-width: 97vw;
  background: lightgrey;
}

.symbol {
  font-size: 10vw;
  margin-left: 19vw;
  margin-top: 4vw;
}

blockquote {
  margin: -3vw 10vw 2vw 20vw;
  font-size: 2vw;
  line-height: 3vw;
}
